doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Zabbix &amp; Docker: Smart Deploys

  body

    article.deck

      section
        h1 Zabbix &amp; Docker: Smart Deploys

      section
        h2 Orgulhosamente feito com
        img(src="images/bespoke-logo.jpg")

      section
        h2 Quem é Gabriel Abdalla Cavalcante?
        ul.build.build-items
          li Aficionado por infraestrutura
          li Desenvolvedor
          li Disseminador DevOps

      section
        h1 "Se a implantação é difícil de explicar, então é uma má ideia."

      section
        h2 Docker? Contêineres? Imagens?
        img(src="images/vector_docker-whale.svg")

      section
        h2 Arquitetura
        img(src="images/arquitetura_zabbix.svg")

      section
        h2 Implantação (Demo)

      section
        h1 Requerimentos
        img(src="images/zbx_next.png")

      section
        h2 Ciclo de Vida de Softwares
        img(src="images/ciclo_containers.png")

      section
        h2 Dúvidas?

      section
        h1 github.com/gcavalcante8808

    script(src='build/build.js')
